################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Temp
/Raft_Project.sln
/obj/Debug
/Logs
/Library
/Assembly-CSharp.csproj
/.vs/Raft_Project/v16
